.wy-nav-content {
    max-width: 870px !important;
}

/* fixes overlay of "align-right" images on block */
.rst-content .admonition {overflow: auto}

/*boxed paragraphs*/
.rst-content .refbox .admonition-title {background-color: #bbb}
.rst-content .refbox {
	-webkit-font-smoothing: antialiased;
	background-color: #e3e3e3;
	padding: 12px;
}
.rst-content .seealso .admonition-title {background-color: #7a87e6}
.rst-content .seealso {background-color: #e7ebfa}
.rst-content .important .admonition-title {background-color: #ddca3b}
.rst-content .important {background-color: #f6f3a5}

/* refbox =, seealso ( > ), note ( i ), tip i , hint (+), warn / ! \ */
.refbox .admonition-title::before {content:"\f00b"}
.seealso .admonition-title::before{content:"\f138"}
.note .admonition-title::before{content:"\f05a"}
.tip .admonition-title::before{content:"\f129"; width: 0.75em; text-align: center}
.hint .admonition-title::before{content:"\f055"}
.warning .admonition-title::before{content:"\f071"}

/* refbox field */
.refbox .field-list .field-name, .refbox .field-list .field-body {
	padding: 0px;
}
.refbox .field-name {font-weight: normal}

.wy-plain-list-disc,.rst-content .section ul,.rst-content .toctree-wrapper ul,article ul {
	margin: 0px;
}

.field-list, .simple {
	margin-bottom: 0px !important;
}

.section .simple {
	margin-bottom: 24px !important;
}

.admonition p {
	margin: 6px;
}

.admonition .simple li p {
	margin: 0px;
}

.admonition ul li {
	font-size: 90%;
}

.admonition .simple {
	margin-bottom: 0px !important;
}

dd {
	margin-bottom: -5px !important;
	margin-left: 0px !important;
}